<!DOCTYPE html>
<html>
    <head>
        <title>Add Transactions</title>
    </head>
    <body>
        <h4>Add a new transaction</h4><br><br>

        {% if success_message %}
            <p style="color: green;">{{ success_message }}</p>
        {% else %}
            <p style="color: red;">{{ message }}</p>
        {% endif %}

        <form action="/add_transaction/" method="post">
            <label for="money_earned">Money Earned:</label><br>
            <input type="number" id="money_earned" name="money_earned" step="0.01"><br><br>
            <label for="money_spent">Money Spent:</label><br>
            <input type="number" id="money_spent" name="money_spent" step="0.01"><br><br>

            <label for="category">Category:</label><br>
            <select id="category" name="category" required>
                <option value="">Please Select</option>
                <option value="family">Family</option>
                <option value="friend">Friend</option>
                <option value="work">Work</option>
                <option value="bank">Bank</option>
                <option value="rent">Rent</option>
                <option value="subscription">Subscription</option>
                <option value="repairs">Repairs</option>
                <option value="groceries">Groceries</option>
                <option value="clothing">Clothing</option>
                <option value="restaurant">Restaurant</option>
                <option value="entertainment">Entertainment</option>
                <option value="gift">Gift</option>
            </select><br><br>

            <label for="purpose">Purpose:</label><br>
            <input type="text" id="purpose" name="purpose"><br><br>
            <input type="submit" value="Add Transaction"><br><br><br><br>
        </form>

        <div id="links">
            <a href="http://127.0.0.1:8000/transactions/">View Transactions</a><br>
            {% if user_type %}
            <p>Return to <a href="http://127.0.0.1:8000/hub-admin/">Main Hub</a></p>
            {% else %}
            <p>Return to <a href="http://127.0.0.1:8000/hub/">Main Hub</a></p>
            {% endif %}
        </div>
    </body>
</html>
