<!DOCTYPE html>
<html>
    <head>
        <title>Money Spent</title>
        <style>
            table {border-collapse: collapse; width: 80%; margin: auto;}
            th, td {border: 1px solid #ccc; padding: 8px; text-align: left;}
            th {background-color: #f2f2f2;}
        </style>
    </head>
    <body>
        {% if success_message %}
            <p style="color: green;">{{ success_message }}</p>
        {% elif message %}
            <p style="color: red;">{{ message }}</p>
        {% endif %}

        <div id="transactions">
            <table>
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Total Spent</th>
                        <th>Bank</th>
                        <th>Entertainment</th>
                        <th>Family</th>
                        <th>Friend</th>
                        <th>Groceries</th>
                        <th>Rent</th>
                        <th>Repairs</th>
                        <th>Restaurant</th>
                        <th>Subscription</th>
                        <th>Clothing</th>
                        <th>Work</th>
                        <th>Gift</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in expenditures %}
                        <tr>
                            <td>{{ row.month }}</td>
                            <td>{{ "%.2f"|format(row.money_spent) }}</td>
                            
                            {% for category in categories %}
                                {% if category in spending_by_cat[row.month] %}
                                    <td><p>{{ "%.2f"|format(spending_by_cat[row.month][category]) }}<br>
                                        <span style="font-size: 0.75em; color: {{ cat_percent[row.month][category]['color'] }};">
                                            ({{ cat_percent[row.month][category]['percent'] }})</span>
                                    </p></td>
                                {% else %}
                                    <td><p>0.00<br><span style="font-size: 0.75em; color: grey;">(0%)</span></p></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><br><br>

        <div id="links">
            {% if user_type %}
            <p>Return to <a href="http://127.0.0.1:8000/hub-admin/">Main Hub</a></p>
            {% else %}
            <p>Return to <a href="http://127.0.0.1:8000/hub/">Main Hub</a></p>
            {% endif %}
        </div>
    </body>
</html>
