<!DOCTYPE html>
<html>
    <head>
        <title>Money Earned</title>
        <style>
            table {border-collapse: collapse; width: 80%; margin: auto;}
            th, td {border: 1px solid #ccc; padding: 8px; text-align: left;}
            th {background-color: #f2f2f2;}
        </style>
    </head>
    <body>
        {% if success_message %}
            <p style="color: green;">{{ success_message }}</p>
        {% elif message %}
            <p style="color: red;">{{ message }}</p>
        {% endif %}

        <div id="transactions">
            <table>
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Total Earned</th>
                        <th>work</th>
                        <th>Family</th>
                        <th>Friend</th>
                        <th>Bank</th>
                        <th>Groceries</th>
                        <th>Clothing</th>
                        <th>Repairs</th>
                        <th>Subscription</th>
                        <th>Rent</th>
                        <th>Restaurant</th>
                        <th>Entertainment</th>
                        <th>Gift</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for row in earnings %}
                        <td>{{ row.month }}</td>
                        <td>{{ row.money_earned }}</td>
                        {% endfor %}
                        {% for category in categories %}
                            {% if category in earning_by_cat %}
                            <td>{{ "%.2f"|format(earning_by_cat[category]) }}</td>
                            {% else %}
                            <td><p>0.00</p></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div><br><br>
    </body>
</html>
