<!DOCTYPE html>
<html>
    <head>
        <title>User Transactions</title>
        <style>
            table {border-collapse: collapse; width: 80%; margin: auto;}
            th, td {border: 1px solid #ccc; padding: 8px; text-align: left;}
            th {background-color: #f2f2f2;}
        </style>
    </head>
    <body>
        <h1>{{ username }}'s Transactions</h1><br>

        <div id="links"></div>
            <a href="http://127.0.0.1:8000/transactions/money_earned/">Money Earned</a><br>
            <a href="http://127.0.0.1:8000/transactions/money_spent/">Money Spent</a><br>
            {% if user_type %}
                <p>Return to <a href="http://127.0.0.1:8000/hub-admin/">Main Hub</a></p>
            {% else %}
                <p>Return to <a href="http://127.0.0.1:8000/hub/">Main Hub</a></p>
            {% endif %}
        </div><br><br>

        {% if no_tx_message %}
            <p style="color: purple;">{{ no_tx_message }}</p>
        {% elif message %}
            <p style="color: orange;">{{ message }}</p>
        {% endif %}

        <div id="transactions">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User ID</th>
                        <th>Money Earned</th>
                        <th>Date Time Earned</th>
                        <th>Money Spent</th>
                        <th>Date Time Spent</th>
                        <th>Category</th>
                        <th>Purpose</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.id }}</td>
                            <td>{{ transaction.user_id }}</td>
                            <td>{{ "%.2f"|format(transaction.money_earned) if transaction.money_earned else transaction.money_earned }}</td>
                            <td>{{ transaction.date_time_earned }}</td>
                            <td>{{ "%.2f"|format(transaction.money_spent) if transaction.money_spent else transaction.money_spent }}</td>
                            <td>{{ transaction.date_time_spent }}</td>
                            <td>{{ transaction.category.value }}</td>
                            <td>{{ transaction.purpose_details }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><br><br><br>
    </body>
</html>
